
/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
:is(ul, ol) {
  list-style: none;
  padding: 0;
}


/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Avoid orphans on paragraphs */
p {
    text-wrap: pretty;
}


a {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* FONTS */

@font-face {
    font-family: 'DM Serif Display';
    src: url(assets/fonts/DMSerifDisplay-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Karla';
    src: url(assets/fonts/Karla-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Karla';
    src: url(assets/fonts/Karla-Bold.woff2) format("woff2");
    font-weight: 700;
}

/* CUSTOM PROPERTIES */

:root {
    /* COLORS */
    --clr-dark-violet: hsl(256, 26%, 20%);
    --clr-grayish-blue: hsl(216, 30%, 68%);

    --clr-very-dark-violet: hsl(270, 9%, 17%);
    --clr-dark-grayish-violet: hsl(273, 4%, 51%);
    --clr-darker-grayish-violet: hsl(from var(--clr-dark-grayish-violet) h s 41%);
    --clr-very-light-gray: hsl(0, 0%, 98%);
    --clr-white: hsl(0, 0%, 100%);

    /* TYPOGRAPHY */
    --ff-dm-serif-display: 'DM Serif Display';
    --ff-karla: 'Karla';
    --fw-400: 400;
    --fw-700: 700;
}

/* UTILITIES */

.flow {
    --flow-space: 4em;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

.container {
  width: 80%;
  margin-inline: auto;
}

.serif {
    font-family: var(--ff-dm-serif-display);
    font-weight: var(--fw-400);
}


/* COMPONENTS */

.btn {
    --border-color: var(--clr-white);
    border: 2px solid var(--border-color);
    padding: .5em 1.5em;
    display: inline-block;
    text-transform: uppercase;
}

.header-btn {
    --border-color: var(--clr-very-dark-violet);
    color: var(--clr-very-dark-violet);

    &:is(:hover, :focus-visible) {
      background-color: var(--clr-very-dark-violet);
      color: var(--clr-white);
      transition: .2s;
    }
}

:is(.hero-btn, .how-we-work-btn) {
  
  &:is(:hover, :focus-visible) {
    background-color: var(--clr-white);
    color: var(--clr-very-dark-violet);
    transition: .2s;
    font-weight: var(--fw-700);
  }
}

:is(.header, .footer) {
  text-transform: uppercase;
  font-weight: var(--fw-700);
}

:is(.hero, .how-we-work) {
  background-color: var(--clr-dark-violet);
  color: var(--clr-white);
}

/* GENERAL STYLING */

body {
    font-family: var(--ff-karla);
}

.main {
  padding-block-end: 5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-darker-grayish-violet);
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar__list-item {

  &:is(:hover, :focus-visible) {
    color: var(--clr-very-dark-violet);
    transition: .2s;
  }
}

/* BENEFITS */

.benefits-heading {
  font-size: 4rem;
}

.benefits__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;

    @media (width > 50rem) {
      grid-template-columns: repeat(3, 1fr);
    }
}

.benefit {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  text-align: center;

  @media (width > 50rem) {
    justify-items: start;
    text-align: left;
  }
}

/* .benefit-image {
  margin-inline: auto;
} */

.benefits__list-item__paragraph {
  line-height: 1.4;
}

/* HOW-WE-WORK */

.how-we-work {
  padding: 5rem 3rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.how-we-work-heading {
 font-size: 2.5rem;
 max-width: 30ch;
 line-height: 1;
}



/* FOOTER */

.footer {
  background-color: var(--clr-very-light-gray);
  color: var(--clr-dark-violet);
  padding-block: 2rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    display: flex;
    gap: 1rem;
}

.footer-bottom {
  --flow-space: 3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-bottom__heading {
  color: var(--clr-darker-grayish-violet);
}

.footer-bottom__list-item {
  line-height: 1.6;
}

.footer-bottom__list-item a:is(:hover, :focus-visible) {
  text-decoration: underline;
}